Repository XAITK/xaitk-saliency: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
    args:
      # the unit here is acutally KiB (1024 bytes)
      - '--maxkb=51200'  # match github max of 50MiB
- repo: https://github.com/hukkin/mdformat
  rev: 0.7.22  # Use the ref you want to point at
  hooks:
  - id: mdformat
    name: mdformat-lint
    args: [--wrap=80, --number]
    types: [markdown]
- repo: https://github.com/hukkin/mdformat
  rev: 0.7.22  # Use the ref you want to point at
  hooks:
  - id: mdformat
    name: mdformat-format
    args: [--wrap=80, --number, --check]
    types: [markdown]
- repo: local
  hooks:
    - id: ruff-lint
      name: ruff-lint
      entry: poetry run ruff check --config pyproject.toml --fix --force-exclude
      require_serial: true
      language: system
      types_or: [python, pyi, jupyter]
    - id: sphinx-lint
      name: sphinx-lint
      entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 docs
      types: [rst]
      language: system
    - id: ruff-format
      name: ruff-format
      entry: poetry run ruff format --config pyproject.toml --force-exclude
      require_serial: true
      language: system
      types_or: [python, pyi, jupyter]
    - id: pyright
      name: pyright
      require_serial: true
      language: system
      entry: poetry run pyright
      types: [file, python]

Update version number to 0.15.0
  docs/release_notes.rst
  docs/release_notes/pending_release/add-py314.rst
  docs/release_notes/pending_release/upgrade-poetry22.rst
  docs/release_notes/v0.15.0.rst
  pyproject.toml
Due: sphinx-lint

Migrate xaitk-jatic into xaitk-saliency
  .gitlab-ci/.gitlab-test.yml
  docs/getting_started.rst
  docs/index.rst
  docs/interoperability/maite/containers.rst
  docs/interoperability/maite/containers/aukus.rst
  docs/interoperability/maite/examples/maite-image-classifier-protocol.ipynb
  docs/interoperability/maite/examples/maite-object-detector-protocol.ipynb
  docs/interoperability/maite/index.rst
  docs/interoperability/maite/maite_interoperability.rst
  docs/interoperability/maite/tutorials.rst
  docs/interoperability/maite/utils.rst
  docs/release_notes/pending_release/migrate-jatic.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/interop/__init__.py
  src/xaitk_saliency/interop/maite/__init__.py
  src/xaitk_saliency/interop/maite/image_classification/__init__.py
  src/xaitk_saliency/interop/maite/image_classification/model.py
  src/xaitk_saliency/interop/maite/object_detection/__init__.py
  src/xaitk_saliency/interop/maite/object_detection/dataset.py
  src/xaitk_saliency/interop/maite/object_detection/model.py
  src/xaitk_saliency/interop/maite/utils/__init__.py
  src/xaitk_saliency/interop/maite/utils/bin/__init__.py
  src/xaitk_saliency/interop/maite/utils/bin/sal_on_coco_dets.py
  src/xaitk_saliency/interop/maite/utils/sal_on_dets.py
  tests/data/annotations.json
  tests/interop/__init__.py
  tests/interop/maite/__init__.py
  tests/interop/maite/image_classification/__init__.py
  tests/interop/maite/image_classification/__snapshots__/test_model.ambr
  tests/interop/maite/image_classification/test_model.py
  tests/interop/maite/object_detection/__init__.py
  tests/interop/maite/object_detection/__snapshots__/test_model.ambr
  tests/interop/maite/object_detection/test_dataset.py
  tests/interop/maite/object_detection/test_model.py
  tests/interop/maite/utils/__init__.py
  tests/interop/maite/utils/test_sal_on_coco_dets.py
  tests/interop/maite/utils/test_sal_on_dets.py
Due: sphinx-lint, pyright

Dev/port ci jobs
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/.gitlab-docs.yml
  .gitlab-ci/.gitlab-prod.yml
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-security.yml
  .gitlab-ci/.gitlab-shared.yml
  .gitlab-ci/.gitlab-test.yml
  .gitlab-ci/.gitlab-vcrm.yml
  .gitlab-ci/pipelines/.gitlab-compliance.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Maintainer_Guide_GitLab_to_GitHub.md
  README.md
  ROADMAP.md
  docs/examples/DRISE.ipynb
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/OcclusionSaliency.ipynb
  docs/examples/README.md
  docs/examples/Radial_Image_Perturbation.ipynb
  docs/examples/SimilarityScoring.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/SwappableImplementations.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
  docs/release_notes/pending_release/port-nrtk-ci.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/utils/bin/sal_on_coco_dets.py
  src/xaitk_saliency/utils/coco.py
  tests/conftest.py
  tests/examples/__init__.py
  tests/examples/conftest.py
  tests/examples/test_notebook_utils.py
  tests/examples/test_notebooks.py
  tests/interop/maite/image_classification/test_model.py
  tox.ini
Due: sphinx-lint, pyright

marked tests
  docs/release_notes/pending_release/initial-pytest-markers.rst
  tests/impls/gen_classifier_conf_sal/test_mc_rise_scoring.py
  tests/impls/gen_classifier_conf_sal/test_occlusion_scoring.py
  tests/impls/gen_classifier_conf_sal/test_rise_scoring.py
  tests/impls/gen_classifier_conf_sal/test_squared_difference_scoring.py
  tests/impls/gen_descriptor_sim_sal/test_similarity_scoring.py
  tests/impls/gen_detector_prop_sal/test_drise_scoring.py
  tests/impls/gen_image_classifier_blackbox_sal/test_mc_rise.py
  tests/impls/gen_image_classifier_blackbox_sal/test_occlusion_based.py
  tests/impls/gen_image_classifier_blackbox_sal/test_rise.py
  tests/impls/gen_image_classifier_blackbox_sal/test_slidingwindow.py
  tests/impls/gen_image_similarity_blackbox_sal/test_sbsm.py
  tests/impls/gen_image_similarity_blackbox_sal/test_sim_occlusion_based.py
  tests/impls/gen_object_detector_blackbox_sal/test_drise.py
  tests/impls/gen_object_detector_blackbox_sal/test_occlusion_based.py
  tests/impls/gen_object_detector_blackbox_sal/test_random_grid.py
  tests/impls/perturb_image/test_mc_rise.py
  tests/impls/perturb_image/test_random_grid.py
  tests/impls/perturb_image/test_rise.py
  tests/impls/perturb_image/test_sliding_radial.py
  tests/impls/perturb_image/test_sliding_window.py
  tests/impls/saliency_metric/test_entropy.py
  tests/interfaces/test_gen_classifier_conf_sal.py
  tests/interfaces/test_gen_descriptor_sim_sal.py
  tests/interfaces/test_gen_detector_prop_sal.py
  tests/interfaces/test_gen_image_classifier_blackbox_sal.py
  tests/interfaces/test_gen_image_similarity_blackbox_sal.py
  tests/interfaces/test_gen_object_detector_blackbox_sal.py
  tests/interfaces/test_perturb_image.py
  tests/utils/test_coco.py
  tests/utils/test_detection.py
  tests/utils/test_masking.py
  tests/utils/test_sal_metrics.py
  tests/utils/test_sal_on_coco_dets.py
  tox.ini
Due: sphinx-lint, pyright

fix unnecessary collection calls
  docs/conf.py
  docs/interoperability/maite/examples/maite-object-detector-protocol.ipynb
  docs/release_notes/pending_release/fix-ruff-errors.rst
  src/xaitk_saliency/interop/maite/image_classification/model.py
  src/xaitk_saliency/interop/maite/object_detection/dataset.py
  src/xaitk_saliency/interop/maite/object_detection/model.py
  src/xaitk_saliency/interop/maite/utils/bin/sal_on_coco_dets.py
  src/xaitk_saliency/interop/maite/utils/sal_on_dets.py
  tests/interop/maite/object_detection/test_dataset.py
  tests/interop/maite/utils/test_sal_on_dets.py
Due: sphinx-lint, pyright

address feedback
  src/xaitk_saliency/impls/gen_classifier_conf_sal/mc_rise_scoring.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
Due: pyright

renamed perturb_mask to perturbed_mask
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/interfaces/gen_detector_prop_sal.py
  tests/interfaces/test_gen_detector_prop_sal.py
Due: pyright

minor notebook fix
  docs/examples/atari_deepRL_saliency.ipynb
Due: none

Re-enable pyright-external type checks
  .pre-commit-config.yaml
  docs/release_notes/pending_release/reenable-pyright-external.rst
  src/xaitk_saliency/impls/gen_classifier_conf_sal/mc_rise_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/occlusion_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/rise_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/squared_difference_scoring.py
  src/xaitk_saliency/impls/gen_descriptor_sim_sal/similarity_scoring.py
  src/xaitk_saliency/impls/gen_detector_prop_sal/drise_scoring.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/sbsm.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/drise.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/perturb_image/mc_rise.py
  src/xaitk_saliency/impls/perturb_image/random_grid.py
  src/xaitk_saliency/impls/perturb_image/rise.py
  src/xaitk_saliency/impls/perturb_image/sliding_radial.py
  src/xaitk_saliency/impls/perturb_image/sliding_window.py
  src/xaitk_saliency/impls/saliency_metric/entropy.py
  src/xaitk_saliency/interfaces/gen_classifier_conf_sal.py
  src/xaitk_saliency/interfaces/gen_descriptor_sim_sal.py
  src/xaitk_saliency/interfaces/gen_detector_prop_sal.py
  src/xaitk_saliency/interfaces/gen_image_classifier_blackbox_sal.py
  src/xaitk_saliency/interfaces/gen_image_similarity_blackbox_sal.py
  src/xaitk_saliency/interfaces/gen_object_detector_blackbox_sal.py
  src/xaitk_saliency/interfaces/perturb_image.py
  src/xaitk_saliency/interfaces/saliency_metric.py
  src/xaitk_saliency/interop/maite/image_classification/_model.py
  src/xaitk_saliency/interop/maite/object_detection/_dataset.py
  src/xaitk_saliency/interop/maite/object_detection/_model.py
  src/xaitk_saliency/interop/maite/utils/_sal_on_dets.py
  src/xaitk_saliency/interop/maite/utils/bin/_sal_on_coco_dets.py
  src/xaitk_saliency/utils/bin/_sal_on_coco_dets.py
  src/xaitk_saliency/utils/coco.py
  src/xaitk_saliency/utils/detection.py
  src/xaitk_saliency/utils/masking.py
  tests/interop/maite/object_detection/test_dataset.py
  tests/interop/maite/utils/test_sal_on_coco_dets.py
  tests/utils/test_coco.py
  tests/utils/test_sal_on_coco_dets.py
Due: sphinx-lint, pyright

raise pytest floor to 7.3.1
  docs/release_notes/pending_release/raise-pytest-floor.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

added doctests
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/add-doctests.rst
  src/xaitk_saliency/_fakes.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/mc_rise_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/occlusion_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/rise_scoring.py
  src/xaitk_saliency/impls/gen_classifier_conf_sal/squared_difference_scoring.py
  src/xaitk_saliency/impls/gen_descriptor_sim_sal/similarity_scoring.py
  src/xaitk_saliency/impls/gen_detector_prop_sal/drise_scoring.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/rise.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/slidingwindow.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/sbsm.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/drise.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/perturb_image/mc_rise.py
  src/xaitk_saliency/impls/perturb_image/random_grid.py
  src/xaitk_saliency/impls/perturb_image/rise.py
  src/xaitk_saliency/impls/perturb_image/sliding_radial.py
  src/xaitk_saliency/impls/perturb_image/sliding_window.py
  src/xaitk_saliency/impls/saliency_metric/entropy.py
Due: sphinx-lint, pyright

ensure seed consistency in mc_rise
  docs/release_notes/pending_release/consistent-seed-params.rst
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
Due: sphinx-lint, pyright

Update github CI to use tox
  .github/actions/build-stage/action.yml
  .github/actions/quality-stage/action.yml
  .github/actions/setup-tox/action.yml
  .github/actions/test-stage/action.yml
  .github/workflows/.github-publish.yml
  .github/workflows/.github-quality.yml
  .github/workflows/.github-test.yml
  .pre-commit-config.yaml
  docs/interoperability/maite/examples/maite-object-detector-protocol.ipynb
  docs/release_notes/pending_release/merge-into-github.rst
Due: sphinx-lint

Update github CI to use tox
  .github/actions/build-stage/action.yml
  .github/actions/quality-stage/action.yml
  .github/actions/setup-tox/action.yml
  .github/actions/test-stage/action.yml
  .github/workflows/.github-publish.yml
  .github/workflows/.github-quality.yml
  .github/workflows/.github-test-pyversion.yml
  .github/workflows/.github-test.yml
  .pre-commit-config.yaml
  docs/interoperability/maite/examples/maite-object-detector-protocol.ipynb
  docs/release_notes/pending_release/merge-into-github.rst
Due: sphinx-lint
