Repository XAITK/xaitk-saliency: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, pyright

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations -i docs/nrtk_jatic/_implementations docs
  language: system

pyright:
  name: pyright
  require_serial: true
  language: system
  entry: poetry run pyright

Remove VIAME notebook from CI due to runtime
  .gitlab-ci/.gitlab-test.yml
Due: none

Add unittests for sal_metrics util functions
  src/xaitk_saliency/utils/sal_metrics.py
  tests/utils/__snapshots__/test_sal_metrics.ambr
  tests/utils/test_sal_metrics.py
Due: pyright

Replace Optional and Union with | syntax
  docs/release_notes/pending_release.rst
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/rise.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/slidingwindow.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/sbsm.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/drise.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/perturb_image/mc_rise.py
  src/xaitk_saliency/impls/perturb_image/random_grid.py
  src/xaitk_saliency/impls/perturb_image/sliding_radial.py
  src/xaitk_saliency/interfaces/gen_object_detector_blackbox_sal.py
  src/xaitk_saliency/utils/detection.py
  src/xaitk_saliency/utils/masking.py
  tests/impls/gen_image_similarity_blackbox_sal/test_sbsm.py
  tests/impls/gen_image_similarity_blackbox_sal/test_sim_occlusion_based.py
Due: sphinx-lint, pyright

Add saliency metrics util functions
  docs/release_notes/pending_release/sal_metric_utils.rst
  src/xaitk_saliency/utils/sal_metrics.py
Due: sphinx-lint, pyright

Fixed vulnerabilities
  poetry.lock
Due: none

Change release notes to use a directory
  CONTRIBUTING.md
  docs/installation.rst
  docs/release_notes/pending_release/.gitkeep
  docs/release_notes/pending_release/pending_release.rst
  scripts/combine_release_notes.sh
Due: sphinx-lint

Make a note about notebooks that may not finish in Colab
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/covid_classification.ipynb
Due: none

Auto Merge Request - bb771aab
  docs/installation.rst
  scripts/check_for_release_notes.sh
  scripts/update_release_notes.sh
Due: sphinx-lint

Improve Colab related messaging for long running notebooks
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/covid_classification.ipynb
Due: none

Update packages to remove vulnerabilites
  poetry.lock
  pyproject.toml
Due: none

Modified notebook-internal pip install dependencies
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
Due: none

Clear release notes fragments
  docs/release_notes/pending_release/pending_release.rst
  docs/release_notes/pending_release/sal_metric_utils.rst
Due: sphinx-lint

Update version number to 0.13.0
  docs/release_notes/v0.13.0.rst
  pyproject.toml
Due: sphinx-lint

Fixed a path bug in the update_release_notes.sh
  scripts/update_release_notes.sh
Due: none

Updated release notes
  docs/release_notes/v0.13.0.rst
Due: sphinx-lint

Update supported python versions
  .readthedocs.yaml
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/OcclusionSaliency.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/SwappableImplementations.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/covid_classification.ipynb
  docs/release_notes/pending_release/drop-py39.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
  src/xaitk_saliency/impls/perturb_image/sliding_radial.py
  src/xaitk_saliency/impls/perturb_image/sliding_window.py
  src/xaitk_saliency/utils/masking.py
  tests/impls/saliency_metric/saliency_metric_utils.py
  tests/test_utils.py
  tests/utils/test_masking.py
  tests/utils/test_sal_metrics.py
  tests/utils/test_sal_on_coco_dets.py
Due: sphinx-lint, pyright

Added release notes docs to sphinx doctree
  docs/release_notes.rst
Due: sphinx-lint

Updated the contacts in the README
  README.md
Due: none

Add clone for url checker script and update RTD config
  CONTRIBUTING.md
  docs/conf.py
  scripts/check_markdown_links.pl
Due: pyright

Add py3.13 support
  .github/workflows/.github-publish.yml
  .github/workflows/.github-quality.yml
  .github/workflows/.github-test.yml
  .gitlab-ci/.gitlab-test.yml
  Dockerfile
  docker-compose.yml
  docs/release_notes/pending_release/add-py313.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Removed viame notebook from github run
  .github/workflows/.github-test.yml
Due: none

Switched to using a hash for codecov action
  .github/workflows/.github-test.yml
Due: none

Clear release notes fragments
  docs/release_notes/pending_release/add-py313.rst
  docs/release_notes/pending_release/drop-py39.rst
Due: sphinx-lint

Update version number to 0.14.0
  docs/release_notes/v0.14.0.rst
  pyproject.toml
Due: sphinx-lint

Updated v0.14.0 release notes
  docs/release_notes/v0.14.0.rst
Due: sphinx-lint

Updated poetry lock
  poetry.lock
Due: none

Remove hinge for scikit-image
  docs/release_notes/pending_release/remove-scikit-image-hinge.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Update version number to 0.14.1
  docs/release_notes/v0.14.1.rst
  pyproject.toml
Due: sphinx-lint

Clear release notes fragments
  docs/release_notes/pending_release/remove-scikit-image-hinge.rst
Due: sphinx-lint

Updated v0.14.1 release notes
  docs/release_notes/v0.14.1.rst
Due: sphinx-lint

Fixed the sphinx release notes tree
  docs/release_notes.rst
Due: sphinx-lint

Pin upper bound for setuptools to '<82.0.0'
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/release_notes/pending_release/pin-setuptools-upper-bound.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Updated a few dependency pins
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/release_notes/v0.14.2.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Fixed a typo in release notes
  docs/release_notes/v0.14.2.rst
Due: sphinx-lint

Ensure update_release_notes.sh updates Sphinx docs
  scripts/update_release_notes.sh
Due: none

Remove python version override
  .gitlab-ci/.gitlab-test.yml
Due: none

Add Python 3.14 Support
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-shared.yml
  docs/release_notes/pending_release/add-py314.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/__init__.py
  src/xaitk_saliency/interfaces/gen_classifier_conf_sal.py
  src/xaitk_saliency/interfaces/gen_descriptor_sim_sal.py
  src/xaitk_saliency/interfaces/gen_detector_prop_sal.py
  src/xaitk_saliency/interfaces/gen_image_classifier_blackbox_sal.py
  src/xaitk_saliency/interfaces/gen_image_similarity_blackbox_sal.py
  src/xaitk_saliency/interfaces/gen_object_detector_blackbox_sal.py
  src/xaitk_saliency/interfaces/perturb_image.py
  src/xaitk_saliency/interfaces/saliency_metric.py
Due: sphinx-lint, pyright

Upgrade to poetry 2.2+
  .github/actions/build-stage/action.yml
  .github/actions/quality-stage/action.yml
  .github/actions/test-stage/action.yml
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-docs.yml
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-security.yml
  .gitlab-ci/.gitlab-shared.yml
  .gitlab-ci/.gitlab-test.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/installation.rst
  docs/release_notes/pending_release/upgrade-poetry22.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Updated missing github workflow changes
  .github/actions/build-stage/action.yml
  .github/actions/test-stage/action.yml
  .github/workflows/.github-publish.yml
  .github/workflows/.github-test.yml
Due: none

Re-download example image when cache restores an empty file
  docs/examples/Radial_Image_Perturbation.ipynb
Due: none

Path conditions:
  sphinx-lint: any of: \.rst$
  pyright: any of: \.py$
