Repository XAITK/xaitk-saliency: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: poetry run ruff check --config pyproject.toml --fix --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --config pyproject.toml --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system

Reorganize documentation to be under 5 headers
  docs/index.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update implemeneations.rst to use autosummary
  docs/implementations.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Auto Merge Request - d021f345
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

Move examples to docs/examples
  .dockerignore
  .gitlab-ci/.gitlab-test.yml
  docs/examples/.gitignore
  docs/examples/COCO-LICENSE.txt
  docs/examples/DRISE.ipynb
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/OcclusionSaliency.ipynb
  docs/examples/README.md
  docs/examples/Radial_Image_Perturbation.ipynb
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/examples/SimilarityScoring.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
  docs/examples/covid_classification.ipynb
  docs/examples/data/.placeholder
  docs/examples/figures/coco-sal-gen-tool.jpeg
  docs/examples/figures/gen_classifier_conf_sal_diagram.dot
  docs/examples/figures/gen_classifier_conf_sal_diagram.svg
  docs/examples/figures/perturb_occlude_diagram.dot
  docs/examples/figures/perturb_occlude_diagram.svg
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Switched GitHub cache@v2 to cache@v4
  .github/workflows/.github-test.yml
Due: none

Update DRISE and occlusion saliency notebooks to be tutorials
  docs/examples/DRISE.ipynb
  docs/examples/OcclusionSaliency.ipynb
  docs/index.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated extras in GitHub pytest job
  .github/workflows/.github-test.yml
Due: none

Changed path of GitHub examples job to new location
  .github/workflows/.github-test.yml
Due: none

Update colab links
  docs/examples/DRISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/Radial_Image_Perturbation.ipynb
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/examples/SimilarityScoring.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
  docs/examples/covid_classification.ipynb
Due: none

Update pending release
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add SwappableImplementation.ipynb as a How To guide
  .gitlab-ci/.gitlab-test.yml
  docs/examples/DRISE.ipynb
  docs/examples/SwappableImplementations.ipynb
  docs/index.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add missing tags
  README.md
  docs/index.rst
  docs/installation.rst
Due: sphinx-lint

Fixed README links to appear on gitlab
  README.md
Due: none

Refactored parallel matrix approach
  .gitlab-ci/.gitlab-test.yml
Due: none

Auto Merge Request - ac654a85
  README.md
  docs/index.rst
  docs/installation.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Add release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Test with and without extras
  .gitlab-ci/.gitlab-test.yml
Due: none

Auto Merge Request - aca7e19b
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Add release notes
  .pre-commit-config.yaml
  docs/release_notes/pending_release.rst
  pyproject.toml
Due: sphinx-lint

Update README, getting_started.rst, index.rst, and installation.rst
  README.md
  docs/getting_started.rst
  docs/index.rst
Due: sphinx-lint

Cleaned up some language for getting started docs
  docs/getting_started.rst
Due: sphinx-lint

A couple more minor tweeks
  docs/getting_started.rst
Due: sphinx-lint

Updated poetry version pin in RTD
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

Update explanation section of docs
  docs/getting_started.rst
  docs/index.rst
  docs/release_notes/pending_release.rst
  docs/xaitk_explanation.rst
Due: sphinx-lint

Add glossary section
  docs/glossary.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add xaitk_how_to_topics.rst
  docs/index.rst
  docs/release_notes/pending_release.rst
  docs/xaitk_how_to_topics.rst
Due: sphinx-lint

A few more minor edits
  docs/xaitk_how_to_topics.rst
Due: sphinx-lint

Add metric interface and entropy metric implementation
  docs/implementations.rst
  docs/interfaces.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/impls/image_saliency_metric/__init__.py
  src/xaitk_saliency/impls/image_saliency_metric/entropy.py
  src/xaitk_saliency/interfaces/image_saliency_metric.py
  tests/impls/image_saliency_metric/__init__.py
  tests/impls/image_saliency_metric/__snapshots__/test_entropy.ambr
  tests/impls/image_saliency_metric/image_saliency_metric_utils.py
  tests/impls/image_saliency_metric/test_entropy.py
Due: sphinx-lint, mypy

Refinement to the how-to-topics page
  docs/xaitk_how_to_topics.rst
Due: sphinx-lint

Renamed ImageSaliencyMetric to SaliencyMetric
  docs/implementations.rst
  docs/interfaces.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/xaitk_saliency/impls/image_saliency_metric/__init__.py
  src/xaitk_saliency/impls/saliency_metric/__init__.py
  src/xaitk_saliency/impls/saliency_metric/entropy.py
  src/xaitk_saliency/interfaces/saliency_metric.py
  tests/impls/saliency_metric/__init__.py
  tests/impls/saliency_metric/__snapshots__/test_entropy.ambr
  tests/impls/saliency_metric/saliency_metric_utils.py
  tests/impls/saliency_metric/test_entropy.py
Due: sphinx-lint, mypy

Remove mypy from github CI
  .github/workflows/.github-quality.yml
Due: none

Added poetry venv warning
  .pre-commit-config.yaml
  README.md
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update codecov config
  codecov.yml
Due: none

Fix broken notebook pipeline
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Refined the xaitk explainations document
  docs/xaitk_explanation.rst
Due: sphinx-lint

Add titles to notebooks
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/Radial_Image_Perturbation.ipynb
  docs/examples/SimilarityScoring.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add roadmap
  ROADMAP.md
  docs/figures/xaitk-road-map.png
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Auto Merge Request - 640d0219
  .pre-commit-config.yaml
Due: none

Test github CI/CD
  CONTRIBUTING.md
  docs/release_notes/pending_release/.gitkeep
  docs/release_notes/pending_release/pending_release.rst
  scripts/check_for_release_notes.sh
  scripts/combine_release_notes.sh
  scripts/update_release_notes.sh
Due: sphinx-lint

Add extras section to installation docs
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint
