Repository XAITK/xaitk-saliency: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: poetry run ruff check --config pyproject.toml --fix --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --config pyproject.toml --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system

WIP
  README.md
Due: none

Added LFS to GitHub CI/CD.
  .github/actions/build-stage/action.yml
  .github/workflows/.github-publish.yml
  .github/workflows/.github-quality.yml
  .github/workflows/.github-test.yml
Due: none

Added a guide for maintainers to sync GitLab to GitHub.
  Maintainer_Guide_GitLab_to_GitHub.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fixed the filename.
  Maintainer_Guide_GitLab_to_GitHub.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix package pinning and regenerate lock file
  poetry.lock
  pyproject.toml
Due: none

Add MC-RISE implementations
  docs/implementations.rst
  docs/release_notes/pending_release.rst
  pyproject.toml
  src/xaitk_saliency/impls/gen_classifier_conf_sal/mc_rise_scoring.py
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
  src/xaitk_saliency/impls/perturb_image/mc_rise.py
  src/xaitk_saliency/interfaces/gen_image_classifier_blackbox_sal.py
  tests/impls/gen_classifier_conf_sal/__snapshots__/test_mc_rise_scoring.ambr
  tests/impls/gen_classifier_conf_sal/test_mc_rise_scoring.py
  tests/impls/gen_image_classifier_blackbox_sal/__snapshots__/test_mc_rise.ambr
  tests/impls/gen_image_classifier_blackbox_sal/test_mc_rise.py
  tests/impls/perturb_image/__snapshots__/test_mc_rise.ambr
  tests/impls/perturb_image/test_mc_rise.py
  tests/test_utils.py
Due: sphinx-lint, mypy

Updated a regext to be more secure.
  tests/test_utils.py
Due: mypy

Update version number to 0.10.0
  docs/release_notes.rst
  docs/release_notes/v0.10.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.10.0.rst
Due: sphinx-lint

Fixed the pyproject.toml listed license.
  pyproject.toml
Due: none

Removed old build job in CI.
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-build.yml
Due: none

Capped poetry version to <2.0
  README.md
  poetry.lock
  pyproject.toml
Due: none

Updated the auto-MR stubs.
  pyproject.toml
Due: none

Updated the meta data and removed the devel-jatic bot section.
  poetry.lock
  pyproject.toml
Due: none

Auto Merge Request - 162917a9
  README.md
Due: none

Capped poetry to 2.0 on github CI/CD.
  .github/actions/build-stage/action.yml
Due: none

Fixed an import for optional dependencies.
  tests/utils/test_sal_on_coco_dets.py
Due: mypy

Fixed a couple sonarcube alerts.
  examples/MNIST_scikit_saliency.ipynb
  examples/atari_deepRL_saliency.ipynb
Due: none

Changed handling of missing type for type hinting.
  src/xaitk_saliency/utils/bin/sal_on_coco_dets.py
Due: mypy

Moved an import to support a particular unit test.
  tests/utils/test_sal_on_coco_dets.py
Due: mypy

Update version number to 0.11.0
  docs/release_notes.rst
  docs/release_notes/v0.11.0.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.11.0.rst
Due: sphinx-lint

Updated RTD poetry install to disallow 2.0.
  .readthedocs.yaml
Due: none

Added a stub file to bypass a bug in the CI with new notebook not running.
  examples/MC_RISE.ipynb
Due: none

Added MC-RISE notebook
  examples/MC_RISE.ipynb
Due: none

Fix MC-RISE parallel_map method
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/mc_rise.py
Due: mypy

Add pending release note and notebook to CI
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Added pyright stub to pyproject.toml.
  pyproject.toml
Due: none

Auto Merge Request - d261e415
  .github/workflows/.github-quality.yml
  poetry.lock
  pyproject.toml
Due: none

Update version number to 0.12.0
  docs/release_notes.rst
  docs/release_notes/v0.12.0.rst
  pyproject.toml
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.12.0.rst
Due: sphinx-lint

Removed old opencv-headless check.
  .gitlab-ci/.gitlab-docs.yml
Due: none

Removed security scan override.
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-security.yml
Due: none
