Repository XAITK/xaitk-saliency: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-added-large-files
      args:
        # the unit here is acutally KiB (1024 bytes)
        - '--maxkb=51200'  # match github max of 50MiB
-   repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: poetry run ruff check --config pyproject.toml --fix --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations -i docs/nrtk_jatic/_implementations docs
        types: [rst]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --config pyproject.toml --force-exclude
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]
      - id: pyright
        name: pyright
        require_serial: true
        language: system
        entry: poetry run pyright
        types: [file, python]

Remove unused deps
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/installation.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Add poetry<2.0 note
  README.md
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Switched to package name parameterized devsecops component
  .gitlab-ci.yml
Due: none

Remove excerise section
  .gitlab-ci/.gitlab-test.yml
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Addressed vulnerabilities
  poetry.lock
Due: none

Add link to xaitk-jatic
  docs/getting_started.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix pytest-core coco utils test case
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
  src/xaitk_saliency/exceptions.py
  src/xaitk_saliency/utils/bin/sal_on_coco_dets.py
  src/xaitk_saliency/utils/coco.py
  tests/utils/test_coco.py
Due: sphinx-lint, pyright

Fix link formatting for how to guides
  docs/release_notes/pending_release.rst
  docs/xaitk_how_to_topics.rst
Due: sphinx-lint

Dev/52/replace expected with snapshots
  .pre-commit-config.yaml
  docs/release_notes/pending_release.rst
  tests/impls/perturb_image/__snapshots__/test_random_grid.ambr
  tests/impls/perturb_image/__snapshots__/test_rise.ambr
  tests/impls/perturb_image/__snapshots__/test_sliding_radial.ambr
  tests/impls/perturb_image/__snapshots__/test_sliding_window.ambr
  tests/impls/perturb_image/test_random_grid.py
  tests/impls/perturb_image/test_rise.py
  tests/impls/perturb_image/test_sliding_radial.py
  tests/impls/perturb_image/test_sliding_window.py
Due: sphinx-lint, pyright

Auto Merge Request - 5d365f66
  .pre-commit-config.yaml
  README.md
  docs/installation.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Any now comes from the typing library
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Function quickshift does not support the random_seed argument
  docs/examples/SuperPixelSaliency.ipynb
Due: none

Configure num_workers to system recommended 2 in covid notebook
  docs/examples/covid_classification.ipynb
Due: none

Ensure target directory exists in MC_RISE
  docs/examples/MC_RISE.ipynb
Due: none

Compose comes from monai.transforms, not torch
  docs/examples/covid_classification.ipynb
Due: none

Add code cell to install packages
  docs/examples/DRISE.ipynb
Due: none

updated docs and a lot of linting errors
  docs/examples/DRISE.ipynb
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/SwappableImplementations.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
  docs/examples/covid_classification.ipynb
  docs/installation.rst
  docs/release_notes/pending_release.rst
  src/xaitk_saliency/impls/gen_image_classifier_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_image_similarity_blackbox_sal/occlusion_based.py
  src/xaitk_saliency/impls/gen_object_detector_blackbox_sal/occlusion_based.py
Due: sphinx-lint, pyright

Add Colab link to MC_RISE
  docs/examples/MC_RISE.ipynb
Due: none

Fix broken links in docs
  CONTRIBUTING.md
  README.md
  docs/interfaces.rst
  docs/misc/local_sonarqube_testing.rst
  docs/release_notes/pending_release.rst
  docs/xaitk_explanation.rst
Due: sphinx-lint

Notebook needs code cell to install packages
  docs/examples/SwappableImplementations.ipynb
Due: none

Notebook needs to install packages
  docs/examples/OcclusionSaliency.ipynb
Due: none

Add Colab link to SwappableImplementations.ipynb
  docs/examples/SwappableImplementations.ipynb
Due: none

Remove the Colab link
  docs/examples/VIAME_OcclusionSaliency.ipynb
Due: none

Replace random_seed with rng for quickshift
  docs/examples/SuperPixelSaliency.ipynb
Due: none

Remove quotes for install package
  docs/examples/DRISE.ipynb
  docs/examples/OcclusionSaliency.ipynb
Due: none

Add a note for users of the covid notebook
  docs/examples/covid_classification.ipynb
Due: none

Fix linting issues.
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Fix matplotlib errors
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Sorted imports for ruff format
  docs/examples/MC_RISE.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/covid_classification.ipynb
Due: none

Fix remaining Colab message with correct README link
  docs/examples/MC_RISE.ipynb
  docs/examples/MNIST_scikit_saliency.ipynb
  docs/examples/ModelComparisonWithSaliency.ipynb
  docs/examples/Radial_Image_Perturbation.ipynb
  docs/examples/SerializedDetectionSaliency.ipynb
  docs/examples/SimilarityScoring.ipynb
  docs/examples/SwappableImplementations.ipynb
  docs/examples/atari_deepRL_saliency.ipynb
Due: none

Add README link to Colab message
  docs/examples/DRISE.ipynb
  docs/examples/OcclusionSaliency.ipynb
  docs/examples/SuperPixelSaliency.ipynb
  docs/examples/covid_classification.ipynb
Due: none

Fix ruff format error
  docs/examples/covid_classification.ipynb
Due: none

Fix case where class index is a string
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Remove the U argument from install
  docs/examples/DRISE.ipynb
Due: none

Combine torch and torchvision install and specify the torch version sweetspot
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Remove trailing hyphen after package name
  docs/examples/OcclusionSaliency.ipynb
Due: none

Update release_notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Remove superfluous quote and U from install
  docs/examples/SwappableImplementations.ipynb
  docs/examples/VIAME_OcclusionSaliency.ipynb
Due: none

change all collections.abc imports to typing
  docs/examples/ModelComparisonWithSaliency.ipynb
Due: none

Fix spelling error in release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint
